@model IEnumerable<CamperPlanner.Models.ViewModels.DashboardViewModel>
@*
<table class="table table-striped">
    <tr>
        <td>Voornaam</td>
        <td>Student Stream</td>
        <td>Favourate Fruite</td>
        <td>Hobby</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Gebruiker.Voornaam</td>
            <td>@item.Voertuig.VoertuigID</td>
            <td>@item.Voertuig.Type</td>
        </tr>
    }
</table>
   *@