@model CamperPlanner.Models.ViewModels.DashboardViewModel

<div class="p-4">
    <input asp-for="voornaam" disabled />
    <p>Je bent succesvol ingelogd! <br />In dit scherm kan je al je info vinden!</p>
    <div class="col-md-6">
    </div>
</div>
