@model CamperPlanner.Models.Voertuigen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voertuigen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kenteken" class="control-label"></label>
                <input asp-for="Kenteken" class="form-control" />
                <span asp-validation-for="Kenteken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select class="form-select form-select-md form-control" asp-for="Type">
                    <option disabled selected hidden>Selecteer camper of caravan</option>
                    <option value="Camper">Camper</option>
                    <option value="Caravan">Caravan</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lengte" class="control-label"></label>
                <input asp-for="Lengte" class="form-control" />
                <span asp-validation-for="Lengte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stroomaansluiting"></label>
                <select class="form-select form-select-md form-control" asp-for="Stroomaansluiting">
                    <option disabled selected hidden>Selecteer Ja of Nee</option>
                    <option value="Ja">Ja</option>
                    <option value="Nee">Nee</option>
                </select>
                <span asp-validation-for="Stroomaansluiting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" value="@ViewBag.userID" hidden />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-userId="@ViewBag.userID" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
