@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 HomePageImage">
    <h1 class="display-4">Gemakkelijk en goedkoop je camper stallen?</h1>
    <h4>Dat doe je bij CamperPlanner</h4>
    <div style="margin-top: 15vh;" class="d-flex align-content-center form-styling">
        <div class="col-4">
            <h1>Stap 1</h1>
            <p>voertuig</p>
        </div>
        <div class="col-4">
            <h1>Stap 2</h1>
            <p>datum</p>
        </div>
        <div class="col-4">
            <h1>Stap 3</h1>
            <p>info</p>
        </div>
    </div>
</div>
