@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <form class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="col">
            <div class="form-group">
                <label asp-for="Input.Voornaam"></label>
                <input asp-for="Input.Voornaam" class="form-control" />
                <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Achternaam"></label>
                <input asp-for="Input.Achternaam" class="form-control" />
                <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Geboortsedatum"></label>
                <input type="date" asp-for="Input.Geboortsedatum" class="form-control" />
                <span asp-validation-for="Input.Geboortsedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Postcode"></label>
                <input asp-for="Input.Postcode" class="form-control" />
                <span asp-validation-for="Input.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Straatnaam"></label>
                <input asp-for="Input.Straatnaam" class="form-control" />
                <span asp-validation-for="Input.Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Huisnummer"></label>
                <input asp-for="Input.Huisnummer" class="form-control" />
                <span asp-validation-for="Input.Huisnummer" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Input.Bankrekening"></label>
                <input asp-for="Input.Bankrekening" class="form-control" />
                <span asp-validation-for="Input.Bankrekening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoleName"></label>
                <select class="form-select form-select-md form-control" asp-for="Input.RoleName">
                    <option disabled selected hidden>Selecteer een rol</option>
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary float-right">Register</button>
        </div>
    </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
