/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600;900&display=swap');

.nav-pills .nav-link.active {
    background-color: #3B71FE !important;
    font-weight: 600;
}

.btn {
    background-color: #3B71FE !important;
    color: white !important;
    font-weight: 600;
    outline: none !important;
    border: none !important;
}

    .btn:hover {
        box-shadow: 5px 5px 23px 3px rgba(0,0,0,0.10);
        outline: 1px solid #3B71FE !important;
        transition: 0.2s;
    }

.form-control {
    outline: none !important;
    border: none !important;
    box-shadow: 5px 5px 23px 3px rgba(0,0,0,0.05);
    border-radius: 10px !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

    a:hover {
        color: inherit !important;
        text-decoration: none !important;
        cursor: pointer !important;
    }


.HomePageImage {
    height: 50vh;
    min-height: 300px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.15)), url(/img/pexels-gya-den-2303781.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.LoginPageImage {
    height: 60vh;
    min-height: 500px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url(/img/pexels-tim-gouw-24698.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.form-styling {
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.95);
    -webkit-box-shadow: 5px 5px 23px 3px rgba(0,0,0,0.10);
    box-shadow: 5px 5px 23px 3px rgba(0,0,0,0.10);
}

.display-4 {
    color: #3B71FE !important;
    font-weight: 600 !important;
}

a.navbar-brand {
    font-weight: 400;
    color: #3B71FE !important;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #3B71FE;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.iconText {
    font-family: 'Urbanist', sans-serif !important;
}

/*Colors*/

.green {
    color: #5AC181;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Urbanist', sans-serif;
    background-color: white !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
